AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-south-1
BUCKET_NAME=imageuploadsxystx
#FRONTEND_URI=https://localhost:3004
SMTP_USER=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_PASSWORD=
RESET_TOKEN_EXPIRY=300
TYPESENSE_URI=http://localhost:8108
TYPESENSE_API_KEY=adsiqejoasdois
    
